name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set image tag
        if: github.event_name == 'push'
        run: echo "IMAGE_TAG=${{ secrets.DOCKER_USERNAME }}/my-image-name:${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t my-image-name:test .

      - name: Tag image (push only)
        if: github.event_name == 'push'
        run: |
          docker tag my-image-name:test $IMAGE_TAG
          docker tag my-image-name:test ${{ secrets.DOCKER_USERNAME }}/my-image-name:latest

      - name: Push Docker images
        if: github.event_name == 'push'
        run: |
          docker push $IMAGE_TAG
          docker push ${{ secrets.DOCKER_USERNAME }}/my-image-name:latest
